@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.header-content
		h1
			font-size: 35px
	.mnu-line
		position: relative
		&.sticky
			display: none
		.phone
			text-align: left
			padding: 0
		.toggle-mnu
			top: 0
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.header-content
		h1, h2, p
			padding-left: 150px
			width: 80%
		h1
			font-size: 30px
		h2
			font-size: 26px
			padding-top: 30px
	
	.mnu-line
		position: relative

		.phone
			text-align: left
			padding: 0
		.toggle-mnu
			top: 10px
			right: 0

	.s-contact	
		.contact-form
			margin-top: 30px
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.header-content
		.carousel-control-next, .carousel-control-prev
			width: 10%
		.transh
			clip-path: polygon(0 1%, 100% 0, 100% 100%, 0% 100%)

		h1, h2, p
			padding-left: 60px
			width: 90%
		p
			font-size: 16px	
		h1
			font-size: 35px
			top: 30%

	.mnu-line
		
		position: relative
		.logo
			display: inline-block
			text-align: center
			width: 100%
		.phone
			text-align: left
			padding: 0
	.top_adress
		text-align: center
	.social
		display: none
	.s-contact
		.widget_rubrik
			text-align: center
							
/* Extra Small Devices, Phones */
@media only screen and (max-width : 576px)
	.header-content
		
		h1, h2, p
			padding-left: 60px
			width: 90%	
		p
			font-size: 16px	
		h1
			font-size: 28px
			top: 30%
		
			
	.mnu-line
		text-align: center
		position: relative
		.logo
			display: inline-block
			text-align: center
			width: 100%
		.phone
			text-align: center
			padding: 0
			margin-top: 8px
		.toggle-mnu
			top: -15px
	.top_adress
		text-align: center
	.s-about
		padding: 0 20px
		text-align: center
		
@media only screen and (max-width : 480px)
	.header-content
		
		h1, h2, p
			padding-left: 60px
			width: 90%	
		p
			font-size: 16px	
		h1
			font-size: 28px
			top: 25%
/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

